 #About {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
background:#F5F5F5;
layout:vbox;
width:fill;
valign:TOP;
}
 #navigatorbar0 {
halign:LEFT;
}
 #button0 {
padding-left:20;
halign:left;
height:44;
width:44;
background-image:icon_back.png;
}
 #label0 {
halign:center;
height:fill;
weight:1;
color:#000000;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #panel0 {
halign:center;
height:180;
layout:vbox;
background:#00a1ea;
width:fill;
valign:CENTER;
}
 #imagebutton0 {
width:88;
icon-width:88;
margin-bottom:5;
icon-height:88;
height:88;
font-size:10;
icon-background-image:head.png;
icon-text-spacing:3;
}
 #label4 {
halign:center;
height:wrap;
widthWrap:30.0;
color:#FFFFFF;
heightWrap:19.0;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #label5 {
halign:center;
height:wrap;
widthWrap:98.0;
color:#FFFFFF;
heightWrap:19.0;
font-size:14;
width:wrap;
font-family:default;
margin-top:5;
valign:center;
}
 #panel1 {
padding-right:10;
padding-left:10;
halign:LEFT;
height:60;
layout:hbox;
width:fill;
valign:center;
background-image:textboxbg.png;
}
 #image0 {
height:36;
width:36;
}
 #label1 {
halign:left;
height:fill;
weight:1;
color:#000000;
font-size:14;
width:0;
margin-left:5;
font-family:default;
valign:center;
}
 #image3 {
height:44;
width:44;
}
 #panel2 {
padding-left:10;
padding-right:10;
halign:LEFT;
height:60;
layout:hbox;
width:fill;
valign:center;
background-image:textboxbg.png;
}
 #image1 {
height:36;
width:36;
}
 #label2 {
halign:left;
height:fill;
weight:1;
color:#000000;
font-size:14;
width:0;
margin-left:5;
font-family:default;
valign:center;
}
 #image4 {
height:44;
width:44;
}
 #panel3 {
padding-left:10;
padding-right:10;
halign:LEFT;
height:60;
layout:hbox;
width:fill;
valign:center;
background-image:textboxbg.png;
}
 #image2 {
height:36;
width:36;
}
 #label3 {
halign:left;
height:fill;
weight:1;
color:#000000;
font-size:14;
width:0;
margin-left:5;
font-family:default;
valign:center;
}
 #image5 {
height:44;
width:44;
}
