 #ExamResult {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
background:#F5F5F5;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel4 {
halign:RIGHT;
height:44;
background:#00a1ea;
layout:hbox;
width:fill;
valign:top;
}
 #button2 {
margin-right:4;
height:36;
width:36;
margin-top:4;
background-image:icon_close.png;
}
 #panel0 {
halign:center;
height:fill;
layout:vbox;
background:#00a1ea;
width:fill;
valign:CENTER;
}
 #panel2 {
halign:CENTER;
height:60.0;
widthWrap:320.0;
background:#00a1ea;
layout:hbox;
width:wrap;
valign:center;
}
 #imagebutton0 {
width:60;
icon-width:60;
margin-right:10;
icon-height:60;
height:60;
font-size:10;
icon-background-image:head.png;
icon-text-spacing:3;
}
 #panel3 {
halign:left;
height:60.0;
widthWrap:150.0;
background:#00a1ea;
layout:vbox;
width:wrap;
valign:CENTER;
}
 #label1 {
halign:center;
height:wrap;
widthWrap:38.0;
color:#FFFFFF;
heightWrap:26.0;
font-size:18;
width:wrap;
margin-bottom:5;
font-family:default;
valign:center;
}
 #label2 {
halign:center;
height:wrap;
widthWrap:150.0;
color:#FFFFFF;
heightWrap:20.0;
background:#00a1ea;
font-size:14;
width:wrap;
font-family:default;
valign:top;
}
 #Umage0 {
height:200;
width:200;
margin-bottom:50;
margin-top:50;
}
 #panel1 {
margin-right:20;
halign:CENTER;
height:49;
layout:hbox;
background:#00a1ea;
width:fill;
margin-left:20;
valign:center;
}
 #button0 {
border-bottom-width:1;
halign:center;
weight:1;
border-radius:10;
width:0;
border-bottom-color:#ffffff;
border-top-width:1;
margin-right:10;
border-left-color:#ffffff;
border-top-color:#ffffff;
height:36;
color:#00a1ea;
border-right-color:#ffffff;
background:#ffffff;
font-size:14;
border-right-width:1;
font-family:default;
valign:center;
border-left-width:1;
}
 #button1 {
border-bottom-width:1;
halign:center;
weight:1;
border-radius:10;
width:0;
border-bottom-color:#ffffff;
border-top-width:1;
border-top-color:#ffffff;
border-left-color:#ffffff;
height:36;
color:#00a1ea;
border-right-color:#ffffff;
background:#ffffff;
font-size:14;
margin-left:10;
border-right-width:1;
font-family:default;
valign:center;
border-left-width:1;
}
