 #Home {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
background:#ffffff;
layout:vbox;
width:fill;
valign:TOP;
}
 #navigatorbar0 {
halign:LEFT;
height:44;
}
 #label0 {
halign:center;
height:fill;
weight:1;
color:#000000;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #button1 {
halign:center;
height:44;
color:#ffffff;
font-size:18;
width:44;
font-family:default;
valign:center;
background-image:icon_edit.png;
}
 #panel0 {
halign:center;
height:0;
weight:1;
layout:vbox;
width:fill;
valign:TOP;
}
 #imageflipper0 {
height:120;
width:fill;
}
 #panel2 {
margin-right:5;
halign:LEFT;
height:0;
weight:2;
layout:hbox;
width:fill;
margin-left:5;
margin-bottom:5;
margin-top:5;
valign:center;
}
 #panel4 {
margin-right:2.5;
halign:center;
height:fill;
weight:2;
layout:vbox;
width:0;
valign:CENTER;
}
 #imagebutton0 {
border-bottom-width:1;
border-radius:10;
width:fill;
icon-width:66;
font-pressed-color:#ffffff;
border-bottom-color:#FC6857;
border-top-width:1;
border-left-color:#FC6857;
border-top-color:#FC6857;
icon-height:66;
height:fill;
color:#ffffff;
border-right-color:#FC6857;
background:#FC6857;
font-size:18;
icon-background-image:exam.png;
border-right-width:1;
border-left-width:1;
icon-text-spacing:3;
}
 #panel5 {
halign:center;
height:fill;
weight:1;
layout:vbox;
width:0;
margin-left:2.5;
valign:CENTER;
}
 #imagebutton1 {
border-bottom-width:1;
weight:1;
font-pressed-color:#ffffff;
height:0;
border-right-color:#2FB13A;
font-size:14;
border-right-width:1;
icon-background-image:myerror.png;
border-left-width:1;
border-radius:10;
width:fill;
icon-width:33;
margin-bottom:2.5;
border-bottom-color:#2FB13A;
border-top-width:1;
border-left-color:#2FB13A;
icon-height:33;
border-top-color:#2FB13A;
color:#ffffff;
background:#2FB13A;
icon-text-spacing:3;
}
 #imagebutton2 {
border-bottom-width:1;
weight:1;
font-pressed-color:#ffffff;
height:0;
border-right-color:#687CF7;
font-size:14;
border-right-width:1;
icon-background-image:network.png;
border-left-width:1;
border-radius:10;
width:fill;
icon-width:33;
border-bottom-color:#687CF7;
border-top-width:1;
border-left-color:#687CF7;
icon-height:33;
border-top-color:#687CF7;
color:#ffffff;
background:#687CF7;
margin-top:2.5;
icon-text-spacing:3;
}
 #panel3 {
margin-right:5;
halign:CENTER;
height:0;
weight:1;
layout:hbox;
width:fill;
margin-left:5;
margin-bottom:5;
valign:center;
}
 #panel9 {
margin-right:2.5;
halign:LEFT;
height:fill;
weight:2;
layout:hbox;
width:0;
valign:center;
}
 #imagebutton3 {
border-bottom-width:1;
weight:1;
font-pressed-color:#ffffff;
margin-right:2.5;
height:fill;
border-right-color:#9C64E4;
font-size:14;
border-right-width:1;
icon-background-image:chapter.png;
border-left-width:1;
border-radius:10;
width:0;
icon-width:33;
border-bottom-color:#9C64E4;
border-top-width:1;
icon-height:33;
border-top-color:#9C64E4;
border-left-color:#9C64E4;
color:#ffffff;
background:#9C64E4;
icon-text-spacing:3;
}
 #imagebutton4 {
border-bottom-width:1;
weight:1;
font-pressed-color:#ffffff;
height:fill;
border-right-color:#16CFB2;
font-size:14;
border-right-width:1;
icon-background-image:random.png;
border-left-width:1;
border-radius:10;
width:0;
icon-width:33;
border-bottom-color:#16CFB2;
border-top-width:1;
border-left-color:#16CFB2;
icon-height:33;
border-top-color:#16CFB2;
color:#ffffff;
background:#16CFB2;
margin-left:2.5;
icon-text-spacing:3;
}
 #panel8 {
halign:center;
height:fill;
weight:1;
layout:vbox;
width:0;
margin-left:2.5;
valign:CENTER;
}
 #imagebutton5 {
border-bottom-width:1;
border-radius:10;
width:fill;
icon-width:33;
font-pressed-color:#ffffff;
border-bottom-color:#FA5DBA;
border-top-width:1;
border-left-color:#FA5DBA;
border-top-color:#FA5DBA;
icon-height:33;
height:fill;
color:#ffffff;
border-right-color:#FA5DBA;
background:#FA5DBA;
font-size:14;
icon-background-image:collect.png;
border-right-width:1;
border-left-width:1;
icon-text-spacing:3;
}
 #toolbar0 {
halign:CENTER;
height:49;
layout:hbox;
width:fill;
valign:top;
background-image:tabbar;
}
 #imagebutton6 {
weight:1;
width:0;
icon-width:25;
icon-height:25;
height:fill;
font-size:12;
icon-background-image:tab_subscription;
icon-pressed-image:tab_subscription_touch;
icon-text-spacing:3;
}
 #imagebutton7 {
weight:1;
width:0;
icon-width:25;
icon-height:25;
height:fill;
font-size:12;
icon-background-image:tab_edit;
icon-pressed-image:tab_edit_touch;
icon-text-spacing:3;
}
 #imagebutton8 {
weight:1;
width:0;
icon-width:25;
icon-height:25;
height:fill;
font-size:12;
icon-background-image:tab_chart;
icon-pressed-image:tab_chart_touch;
icon-text-spacing:3;
}
 #imagebutton9 {
weight:1;
width:0;
icon-width:25;
icon-height:25;
height:fill;
font-size:12;
icon-background-image:tab_contact;
icon-pressed-image:tab_contact_touch;
icon-text-spacing:3;
}
