 #Login {
halign:center;
height:fill;
width:fill;
layout:vbox;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
width:fill;
layout:vbox;
valign:CENTER;
background-image:sudoku_dandelionbg.png;
}
 #wloginpanel {
halign:center;
height:220;
layout:vbox;
background:#f2f2f2;
width:fill;
valign:TOP;
}
 #wuserpanel {
margin-right:10;
halign:LEFT;
height:44;
layout:hbox;
width:fill;
margin-left:10;
margin-top:10;
valign:center;
background-image:textboxbg.png;
}
 #wuserimg {
height:44;
width:48;
}
 #wusertext {
halign:LEFT;
height:44;
color:#a6a6a6;
font-size:14;
width:fill;
font-family:default;
}
 #wpasspanel {
margin-right:10;
halign:LEFT;
height:44;
layout:hbox;
width:fill;
margin-left:10;
valign:center;
background-image:textboxbg.png;
}
 #wpassimg {
height:44;
width:48;
}
 #wpasstext {
halign:LEFT;
height:44;
color:#a6a6a6;
font-size:14;
width:fill;
font-family:default;
}
 #wautologinpanel {
margin-right:10;
halign:LEFT;
height:44;
layout:hbox;
width:fill;
margin-left:10;
valign:center;
}
 #wautologinlabel {
margin-right:5;
halign:right;
height:20.0;
weight:1;
color:#000000;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #wautologinswitch {
margin-right:7;
height:32;
background:#167ef8;
width:51;
background-image-dis:slideswitch;
}
 #wloginbutton {
border-bottom-width:1;
border-radius:10;
width:fill;
border-bottom-color:#f7931e;
border-top-width:1;
margin-right:10;
border-left-color:#f7931e;
border-top-color:#f7931e;
height:44;
border-right-color:#f7931e;
background:#f7931e;
margin-left:10;
border-right-width:1;
border-left-width:1;
}
 #wotherpanel {
margin-right:10;
halign:LEFT;
height:33;
layout:hbox;
width:fill;
margin-left:10;
valign:center;
}
 #wregisterlabel {
halign:left;
height:18.0;
weight:1;
width:0;
margin-left:7;
valign:center;
}
 #wnouserloginlabel {
margin-right:7;
halign:right;
height:18.0;
weight:1;
width:0;
valign:center;
}
