 #Login {
halign:center;
height:fill;
width:fill;
layout:vbox;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
width:fill;
layout:vbox;
valign:CENTER;
background-image:contest_bg.png;
}
 #panel0 {
halign:CENTER;
height:0;
weight:1;
layout:hbox;
width:fill;
valign:center;
}
 #label0 {
halign:center;
height:wrap;
widthWrap:75.0;
color:#ffffff;
heightWrap:32.0;
font-size:24;
width:wrap;
font-family:default;
valign:center;
}
 #wloginpanel {
halign:center;
height:190;
layout:vbox;
background:#ffffff;
width:fill;
valign:TOP;
}
 #wuserpanel {
margin-right:10;
halign:LEFT;
height:44;
layout:hbox;
width:fill;
margin-left:10;
margin-top:10;
valign:center;
background-image:textboxbg.png;
}
 #wuserimg {
height:44;
width:44;
}
 #wusertext {
halign:LEFT;
height:44;
weight:1;
color:#a6a6a6;
font-size:14;
width:0;
font-family:default;
}
 #wpasspanel {
margin-right:10;
halign:LEFT;
height:44;
layout:hbox;
width:fill;
margin-left:10;
margin-bottom:5;
margin-top:5;
valign:center;
background-image:textboxbg.png;
}
 #wpassimg {
height:44;
width:48;
}
 #wpasstext {
halign:LEFT;
height:44;
color:#a6a6a6;
font-size:14;
width:fill;
font-family:default;
}
 #wloginbutton {
border-bottom-width:1;
border-radius:10;
width:fill;
border-bottom-color:#f7931e;
border-top-width:1;
margin-right:10;
border-left-color:#f7931e;
border-top-color:#f7931e;
height:44;
border-right-color:#f7931e;
background:#f7931e;
margin-left:10;
border-right-width:1;
margin-top:5;
border-left-width:1;
}
 #wotherpanel {
margin-right:10;
halign:LEFT;
height:33;
layout:hbox;
width:fill;
margin-left:10;
valign:center;
}
 #wregisterlabel {
halign:left;
height:18.0;
weight:1;
width:0;
margin-left:7;
valign:center;
}
 #wnouserloginlabel {
margin-right:7;
halign:right;
height:18.0;
weight:1;
width:0;
valign:center;
}
 #panel1 {
halign:LEFT;
height:0;
weight:1;
layout:hbox;
width:fill;
valign:center;
}
